.SignupLoginForm {
    margin: auto;
    margin-bottom: 5%;
    width: fit-content;
    border: 3px solid lightgray;
    padding: 50px;
    margin-top: 5%;
    border-radius: 5%;
}

.SignupLoginForm .FormRow:first-child {
    margin-top: 0;
}

.FormRow label {
    display: block;
    margin-bottom: 2px;
}

.FormRow input {
    font-size: 20px;
    padding: 5px;
    border: 2px solid #aaa;
}

.SignupLoginForm button {
    background: none;
    border: 2px solid #aaa;
    padding: 5px 12px;
    font-size: 20px;
    cursor: pointer;
}

.SignupLoginForm button:hover {
    background-color: #aaa;
}

.SignupLoginForm button:disabled {
    color: #ddd;
}
